@import url('https://fonts.googleapis.com/css?family=Nixie+One');


body {
  font-family: Arial, sans-serif;
  margin:0;
  padding:10px 20px;
}

td {
  padding: 6px 12px;
  text-align: left;
}

td pre {
  padding:0;
  text-align: left;
  /*word-wrap: break-word;*/
  max-width: 800px;
  /*white-space: pre-line;*/
  /*display:inline-block;*/
  overflow: hidden;
}


.google-font{
  font-family: 'Alfa Slab One';
}

.google-font-too{
  font-family: 'Nixie One';
}
